<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.png">

    <title>Karen's Introduction</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
    
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/smoothscroll.js"></script> 
    <script src="assets/js/Chart.js"></script>


	  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->

	  <script src="print/jquery.printPage.js"></script>

    <style>
		.icon-link:hover {
			color: #2c3e50 !important;
		}

		@media screen and (max-device-width: 650px) {
			.custom_desc {
				text-align: center !important;
			}
		}



		custom_desc
	</style>
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#nav">

	<div id="section-topbar">
		<div id="topbar-inner">
			<div class="container">
				<div class="row">
					<div class="dropdown">
						<ul id="nav" class="nav">
							<li class="menu-item"><a class="smoothScroll" href="#about" title="About"><i class="icon-user"></i></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#resume" title="Resume"><i class="icon-file"></i></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#work" title="Works"><i class="icon-briefcase"></i></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#contact" title="Contact"><i class="icon-envelope"></i></a></li>
						</ul><!--/ uL#nav -->
					</div><!-- /.dropdown -->

					<div class="clear"></div>
				</div><!--/.row -->
			</div><!--/.container -->

			<div class="clear"></div>
		</div><!--/ #topbar-inner -->
	</div><!--/ #section-topbar -->
	
	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-12">
					<h1>Karen Hsieh </h1>
					<h3>Web Developer | mooshi21824@gmail.com</h3>
				</div><!--/.col-lg-12 -->
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/.#headerwrap -->
	

	<section id="about" name="about"></section>
	<div id="intro">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-2 col-lg-offset-1">
					<h5>ABOUT</h5>
				</div>
				<div class="col-lg-6">
					<p>
					我是一位網站程式設計師。<br>
					現階段專注於前端的開發，也曾接擔任PHP程式設計師。<br>
					進入網站程式設計的領域約有四年時間<br>
					使用的技術為HTML/CSS/jQuery/PHP/MySQL<br>
					程式撰寫上常使用Bootstrap、jQuery UI及jQuery Plugin協助開發。<br>
					近期專注在提升RWD的網頁開發設計，以及學習javascript開發。<br>
					</p>
				</div>
				<div class="col-lg-3">
					<p class="btnPrint"><a href="#"><i class="icon-file"></i></a> <sm>PRINT & DOWNLOAD</sm></p>
				</div>
				
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #intro -->


	<section id="resume" name="resume"></section>
	<!--EDUCATION DESCRIPTION -->
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>EDUCATION</h5>
				</div>
				<div class="col-lg-6">
					<p><t>資訊管理系</t><br/>
						淡江大學<br/>
						<!--<i>3 Years Course</i>-->
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>2008/09 - 2012/06 畢業</sm><br/>
					<!--<imp><sm>畢業</sm></imp>-->
					</p>
				</div>

	
		</div><!--/.row -->
		<br>
		<hr>
	</div><!--/.container -->
	
	
	<!--WORK DESCRIPTION -->
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>WORK</h5>
				</div>
				<div class="col-lg-6">
					<p><t>專案服務部RD</t><br/>
						生活磚資訊 <br/>
					</p>
					<p>
						<more>
							1. 建置專案客製功能 <br>
							2. 開發現有產品新功能 <br>
							3. 優化現有產品畫面呈現及操作流程 <br>
							4. 建置公司產品所需報表及內部系統功能 <br>
						</more>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>2015/06 - 仍在職</sm></p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>PHP電子商務工程師</t><br/>
						晶英國際 <br/>
					</p>
					<p>
						<more>
							1. 使用opencart建置公司銷售平台 <br>
							2. 處理eBay / Amazon銷售平台操作及資料更新 <br>
							3. 建置各銷售平台商品上下架及資料更新工具 <br>
							4. 修改網頁樣式 <br>
							5. 調整google關鍵字廣告及操作google analytics <br>
							6. 協調及規劃功能流程	 <br>
						</more>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>2012/07 - 2015/04</sm></p>
				</div>
		</div><!--/.row -->
		<br>
		<!--<hr>-->
	</div><!--/.container -->

	
	
	<!--SKILLS DESCRIPTION -->
	<div id="skillswrap">
		<div class="container">
			<div class="row">
					<div class="col-lg-2 col-lg-offset-1">
						<h5>SKILLS</h5>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="first_job" height="200" width="200"></canvas>
						<p>生活磚資訊</p>
						<div class="desc custom_desc" style="text-align: left; word-break:break-all;">
                            <more>
                                主要負責網站前端客製功能開發，多半使用Bootstrap Ｇrid開發RWD網頁。
                                專案客製功能會尋找合適的jQuery UI或是jQuery Plugin搭配ajax與PHP進行開發。<br><br>
                                <sm>工作上技術使用的時間比例約為：<br>HTML+CSS/jQuery 佔 65%<br>PHP/MySQL佔35% (工作經歷約一年)</sm><br>
                            </more>
                        </div>
						<br>
						<script>
							var doughnutData = [
                                {
                                    value: 60,
                                    color:"#1abc9c",
                                    label: "HTML+CSS/jQuery"
                                },
                                {
                                    value: 40,
                                    color: "#ecf0f1",
                                    label: "PHP/MySQL"
                                }
							];
								//var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);

							var ctx = document.getElementById("first_job").getContext("2d");
							var myNewChart = new Chart(ctx).Doughnut(doughnutData,{
								//responsive: true,
								showTooltips: true,
								tooltipEvents: ["mousemove", "touchstart", "touchmove"],
								multiTooltipTemplate: "<%= value %>"
							});


						</script>
					</div>
					<div class="col-lg-3 centered"></div>
					<div class="col-lg-3 centered"></div>
					
					<div class="col-lg-3 col-lg-offset-3 centered">
						<canvas id="second_job" height="200" width="200"></canvas>
						<p>晶英國際</p>
                        <div class="desc custom_desc" style="text-align: left; word-break:break-all;">
                            <more>
                                主要的工作是依照各部門user需求修改opencart後台的各項功能，並建立額外的工具提供商品上下架和交換資料等操作。
                                因此較多的機會接觸PHP及MySQL，其他工作多為Amazon、eBay銷售平台操作及維護。<br><br>
                                <sm>工作上技術使用的時間比例約為：<br>HTML+CSS/jQuery 佔 65%<br>PHP/MySQL佔35% (工作經歷約兩年十個月)</sm><br>
                            </more>
                        </div>
						<br>
						<script>
							var doughnutData2 = [
                                {
                                    value: 50,
                                    color:"#1abc9c",
                                    label: "PHP/MySQL"
                                },
                                {
                                    value: 20,
                                    color: "#62eace",
                                    label: "HTML+CSS/jQuery"
                                },
                                {
                                    value: 30,
                                    color: "#ecf0f1",
                                    label: "其他"
                                }
							];
							//var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);

							var ctx2 = document.getElementById("second_job").getContext("2d");
							var myNewChart2 = new Chart(ctx2).Doughnut(doughnutData2,{
								//responsive: true,
								showTooltips: true,
								tooltipEvents: ["mousemove", "touchstart", "touchmove"],
								multiTooltipTemplate: "<%= value %>"
							});
						</script>
					</div>
					<div class="col-lg-3 centered"></div>
					<div class="col-lg-3 centered"></div>

			</div><!--/.row -->
			<br>
		</div><!--/.container -->
	</div><!--/ #skillswrap -->



	<section id="work" name="work"></section>
	<!--PORTFOLIO DESCRIPTION -->
	<div class="container desc">
		<div class="row">
				<div class="col-lg-2 col-lg-offset-1">
					<h5>PORTFOLIO</h5>
				</div>
				<div class="col-lg-4">
					<p><img class="img-responsive" src="assets/img/work/button_2.png" alt=""></p>
				</div>
				<div class="col-lg-5">
					<p>倍騰鈕扣2D穿搭  &nbsp; <i class="icon-link" style="color: #1abc9c" onclick="window.open('http://www.e-button.com.tw/indexplates/2DUI/set_bg.php?id=buttonintl&lan=TW')"></i>&nbsp<sm>(只支援PC操作)</sm></p>
					<p>
					<more>
						客戶在網站挑選鈕扣樣式線上搭配預覽及分享。<br/>
						拖拉使用jQuery UI draggable＆droppable操作，在使用HTML5 canvas將拖拉的物件轉成圖片輸出。<br/><br/>
						<sm><i class="icon-tag"></i> 公司專案</sm>
					</more>
				</p>
				</div>

				<div class="col-lg-4 col-lg-offset-3">
					<p><img class="img-responsive" src="assets/img/work/boscogen_front_1_cut.png" alt=""></p>
				</div>
				<div class="col-lg-5">
					<p>百仕可團購網站及問卷 &nbsp; <i class="icon-link" style="color: #1abc9c" onclick="window.open('http://event.boscogen.com.tw/pc_index.php')"></i></p>
					<p>
					<more>團購頁面呈現的文字及圖片可以透過後台編輯，按下立即團購後，會先進入基本資料填寫頁面，其後接著提供問卷的填寫，每次下一頁時會去驗證問卷是否填寫及是否必填。跳離網頁時，會顯示表單詢問離開團購的理由。<br/><br/>
						<sm><i class="icon-tag"></i> 公司專案</sm>
					</more>
					</p>
				</div>

				<div class="col-lg-4 col-lg-offset-3">
					<p><img class="img-responsive" src="assets/img/work/ciyou_1_cut.png" alt=""></p>
				</div>
				<div class="col-lg-5">
					<p>慈祐宮線上點燈填寫系統</p>
					<p>
						<more>
						提供慈祐宮信眾線上點燈，可以挑選想要點的燈建立訂單，透過永豐銀行信用卡付款或轉帳完成交易。<br/>
						<sm>（目前此網頁鑲嵌在永豐銀行fun錢包APP內。）</sm><br/><br/>
						<sm><i class="icon-tag"></i> 公司專案</sm>
						</more>
					</p>
				</div>

				<div class="col-lg-4 col-lg-offset-3">
					<p><img class="img-responsive" src="assets/img/work/fund_money.png" alt=""></p>
				</div>
				<div class="col-lg-5">
					<p>開運錢母 &nbsp; <i class="icon-link" style="color: #1abc9c" onclick="window.open('https://bank.sinopac.com/bsp/web15/fund_money/demo_pc_a.html')"></i> </p>
					<p>
						<more>
							永豐銀行開運錢母活動頁面。<br/><br/>
							<sm><i class="icon-tag"></i> 接案</sm>
						</more>
					</p>
				</div>

				<div class="col-lg-4 col-lg-offset-3">
					<p><img class="img-responsive" src="assets/img/work/smart.png" alt=""></p>
				</div>
				<div class="col-lg-5">
					<p>智多星 &nbsp; <i class="icon-link" style="color: #1abc9c" onclick="window.open('https://mma.sinopac.com/MMA8/mma/html/event/wealth/201509/pc_index.html')"></i> </p>
					<p>
						<more>
							永豐銀行智多星活動頁面。<br/><br/>
							<sm><i class="icon-tag"></i> 接案</sm>
						</more>
					</p>
				</div>
		
		</div><!--/.row -->
		<br>
		<br>
	</div><!--/.container -->
	


	<section id="contact" name="contact"></section>
	<!--FOOTER DESCRIPTION -->
	<div id="footwrap">
		<div class="container">
			<div class="row">
			
				<div class="col-lg-2 col-lg-offset-1">
					<h5>CONTACT</h5>
				</div>
				<div class="col-lg-3">
					<p><t>Email</t><br/>
						mooshi21824@gmail.com <br/>
					</p>
					<!--<p><t>Address</t><br/>
						Some Ave. 987 <br/>
						Postal 23892 <br/>
						London, England. <br/>
					</p>-->

				</div>
				<div class="col-lg-3">
					<p><t>Phone</t><br/>
						0911919398 <br/>
					</p>
				</div>
				<div class="col-lg-3">
					<!--<p><sm>SOCIAL LINKS</sm></p>
					<p>

						<a href="#"><i class="icon-linkedin"></i></a>
						<a href="#"><img src="assets/img/icons/icon_104.png" style="max-height: 28px; margin-bottom: 1px;"> </a>

					</p>-->
				</div>
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #footer -->
	
	<div id="c">
		<div class="container">
			<!--<p>Created by <a href="http://www.blacktie.co">BLACKTIE.CO</a></p>-->
			<p>Latest Update <font style="color: #f85c37">2016-03-09</font></p>

		</div>
	</div>
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/bootstrap.js"></script>


    <script type="text/javascript">
		$( document ).ready(function() {
			$(".btnPrint").printPage({
				url: "index.html",
				showMessage: false
			});
		});
	</script>
  </body>
</html>
